<!--    <table class="table table-hover">-->
<tr>
    <td>
        <a href="{{ url_for('ingredient', name=ingredient.name) }}">{{ ingredient.name }}</a>
    </td>
    <td>
        <a href="{% if recipe %}
                             {{ url_for('delete_ingredient_from_recipe', ingredient=ingredient.name, recipe=recipe.name) }}
                         {% else %}
                             {{ url_for('delete_ingredient', ingredient=ingredient.name) }}
                         {% endif %}
                        ">{{ _('Delete') }}</a>
    </td>
</tr>
<!--    </table>-->