<div class="row">
    <div class="col-md-4">
        <a href="{% if recipe %}
                             {{ url_for('delete_ingredient_from_recipe', ingredient=ingredient.name, recipe=recipe.name) }}
                         {% else %}
                             {{ url_for('delete_ingredient', ingredient=ingredient.name) }}
                         {% endif %}
                        " role="button"><span aria-hidden="true">&times;</span></a>
        <a href="{{ url_for('ingredient', name=ingredient.name) }}">{{ ingredient.name }}</a>
    </div>
</div>
