{% extends "base.html" %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block app_content %}
<h1>{{ _('Hi, %(username)s!', username=current_user.username) }}</h1>
<br>
{{ wtf.quick_form(form) }}
<br>
<h1>{{ _('Here is the list of all ingredients in this base:') }}</h1>
<table class="table table-hover">
    {% for ingredient in ingredients %}
    {% include '_ingredient.html' %}
    {% endfor %}
</table>
<nav aria-label="...">
    <ul class="pagination justify-content-center">
        <li class="page-item{% if not prev_url %} disabled{% endif %}">
            <a class="page-link" href="{{ prev_url or '#' }}">
                <span aria-hidden="true">&larr;</span> {{ _('Previous page') }}
            </a>
        </li>
        <li class="page-item{% if not next_url %} disabled{% endif %}">
            <a class="page-link" href="{{ next_url or '#' }}">
                {{ _('Next page') }} <span aria-hidden="true">&rarr;</span>
            </a>
        </li>
    </ul>
</nav>
{% endblock %}
