{% extends "base.html" %}


{% block app_content %}
<h1>{{ _('Hi, %(username)s!', username=current_user.username) }}</h1>
<h1>{{ _('Вот меню на неделю:') }}</h1>

<table class="table table-striped table-responsive-sm">
  <thead class="thead-dark">
    <tr>
      <th scope="col"></th>
      <th scope="col">Завтрак</th>
      <th scope="col">Обед</th>
      <th scope="col">Ужин</th>
    </tr>
  </thead>
  <tbody>
    {% for day in mealplan.days %}
    <tr>
      <th scope="row">{{ day.name }}</th>
        <td><a href="{{ url_for('recipe', name=day.breakfast.name) }}">{{ day.breakfast.name }}</a></td>
        <td><a href="{{ url_for('recipe', name=day.lunch.name) }}">{{ day.lunch.name }}</a></td>
        <td><a href="{{ url_for('recipe', name=day.dinner.name) }}">{{ day.dinner.name }}</a></td>
    </tr>
    {% endfor %}
  </tbody>
</table>

{% endblock %}