{% extends "base.html" %}


{% block app_content %}
<h1>{{ _('Hi, %(username)s!', username=current_user.username) }}</h1>
<h1>{{ _('Вот меню на неделю:') }}</h1>

<div class="container">
    {% for day in mealplan.days %}
    <div class="row">
        <div class="col"><h5 class="text-center">{{ day.name }}</h5></div>
    </div>
    <div class="row">
        <div class="col-4">
            <a href="{{ url_for('recipe', name=day.breakfast.name) }}">
            <div class="card">
                <img src="/static/panda1.jpg" class="card-img-top">
                <div class="card-body">
                    <h5 class="card-title">{{ day.breakfast.name }}</h5>
                </div>
            </div>
            </a>
        </div>
        <div class="col-4">
            <a href="{{ url_for('recipe', name=day.breakfast.name) }}">
            <div class="card">
                <img src="/static/panda2.jpg" class="card-img-top">
                <div class="card-body">
                    <h5 class="card-title">{{ day.lunch.name }}</h5>
                </div>
            </div>
            </a>
        </div>
        <div class="col-4">
            <a href="{{ url_for('recipe', name=day.breakfast.name) }}">
            <div class="card">
                <img src="/static/panda3.jpg" class="card-img-top">
                <div class="card-body">
                    <h5 class="card-title">{{ day.dinner.name }}</h5>
                </div>
            </div>
            </a>
        </div>
    </div>
    {% endfor %}
</div>

{% endblock %}