{% extends "base.html" %}


{% block app_content %}
<h1>{{ _('Recipe') }}: {{ recipe.name }}</h1>
<div class="row">
    <div class="col-md-4">
        <form action="" method="post" novalidate>
            {{ form.hidden_tag() }}
            <div class="form-group">
                <label for="name">{{ form.name.label }}</label>
                {{ form.name(size=32, class="form-control", id="name") }}
                {% for error in form.name.errors %}
                <div class="alert alert-warning alert-dismissible fade show" role="alert">
                    [{{ error }}]
                    <button aria-label="Close" class="close" data-dismiss="alert" type="button">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                {% endfor %}
            </div>
            <div class="form-group form-check">
                {{ form.isBreakfast(class="form-check-input", id="isBreakfast", type="checkbox") }}
                <label class="form-check-label" for="isBreakfast">{{ form.isBreakfast.label }}</label>
                <br>
                {{ form.isLunch(class="form-check-input", id="isLunch", type="checkbox") }}
                <label class="form-check-label" for="isLunch">{{ form.isLunch.label }}</label>
                <br>
                {{ form.isDinner(class="form-check-input", id="isDinner", type="checkbox") }}
                <label class="form-check-label" for="isDinner">{{ form.isDinner.label }}</label>
            </div>
            <div class="form-group">
                {{ form.submit(class="btn btn-primary") }}
            </div>
        </form>
    </div>
</div>

{% for ingredient in ingredients %}
{% include '_ingredient.html' %}
{% endfor %}
<nav aria-label="...">
    <ul class="pagination">
        <li class="page-item{% if not prev_url %} disabled{% endif %}">
            <a class="page-link" href="{{ prev_url or '#' }}">
                <span aria-hidden="true">&larr;</span> {{ _('Previous page') }}
            </a>
        </li>
        <li class="page-item{% if not next_url %} disabled{% endif %}">
            <a class="page-link" href="{{ next_url or '#' }}">
                {{ _('Next page') }} <span aria-hidden="true">&rarr;</span>
            </a>
        </li>
    </ul>
</nav>
{% endblock %}